<div class="flex">
  <mat-card *ngFor="let light of lights">
    <mat-card-header>
      <mat-card-title>{{ light.metadata.name }}</mat-card-title>
      <mat-card-subtitle>{{ light.id_v1 }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="isAcknowledgementLight(light)"
      >Needs acknowledgement</mat-card-content
    >
    <mat-card-actions>
      <mat-button-toggle-group
        name="toggleLightPower"
        aria-label="Toggle light or power"
        [value]="light.on.on ? 'on' : 'off'"
      >
        <mat-button-toggle value="on" (click)="wishLightOn(light)"
          >On</mat-button-toggle
        >
        <mat-button-toggle value="off" (click)="wishLightOn(light, false)"
          >Off</mat-button-toggle
        >
        <mat-button-toggle value="unknown">Unknown</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
</div>
